@import url('https://api.fontshare.com/v2/css?f[]=chillax@200,300,400&display=swap');
:root {
    --bg-blck: rgb(23, 23, 23);
    --bg-white: rgb(248, 248, 248);
    --borders-grey: rgb(241, 241, 241);
    --bg-menu-mobile: rgb(34, 34, 34);
    --body-font-size: 16px;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Chillax', sans-serif;
    font-size: var(--body-font-size);
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
}

a, Link, a:visited, Link:visited {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

.btn-black {
    border-radius: 4px;
    background-color: var(--bg-blck);
    color: var(--bg-white);
    border: 1px solid var(--borders-grey);
    padding: 10px 30px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}

.btn-white {
    border-radius: 4px;
    background-color: var(--bg-white);
    color: var(--bg-blck);
    border: 1px solid var(--bg-blck);
    padding: 10px 30px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}

.glassmorph {
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid var(--borders-grey);
}