.home {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-white);
    align-items: center;
    justify-content: center;

    .hero {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100vw;
        height: 90vh;
        background-color: var(--bg-blck);

        .wrapper {
            width: 80%;
            display: flex;
            flex-flow: row wrap;
            color: white;
            margin: 0 auto;

            .hero-info {
                flex: 1 1 60%;
                width: 60%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                h1 {
                    font-size: clamp(4rem, 10vw, 8rem);
                    font-weight: 400;
                    line-height: 1;
                    margin: 0;
                }

                h2 {
                    font-weight: 300;

                }

            }

            .hero-img {
                flex: 1 1 40%;
                width: 40%;
                margin: 0 auto;
            }
        }
    }

    @media (width < 48em) {
        .hero {
            .wrapper {
                flex-flow: column;
                text-align: center;

                .hero-info{
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    
}